/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */


.scoreboard{
  background: darkgray;
  width: 95%;
  padding:20px;
}
.display{
   
  padding-top:20px;
}

.svg{
  border-width: 5px;
  border-style: solid;
  border-color: #000;
  margin-top: 10%;
  margin-left: 15%;
  /*width: 1000;
  height*/
}

